@mixin mobile {
  @media (max-width: 520px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1199px) {
    @content;
  }
}

%text-extra-bold {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: $black;
  margin: 0;
  font-weight: 700;
  position: relative;

  @include mobile {
    font-size: 36px;
    line-height: 36px;
  }
}

%text-small {
  left: -8px;
  font-size: 16px;
  line-height: 16px;

  @include mobile {
    font-size: 14px;
    line-height: 14px;
    left: -7px;
  }
}

%text-light {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: center;
  margin: 0;

  @include mobile {
    font-size: 14px;
  }
}

%text-bold {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: center;
  margin: 0;
  @include mobile {
    font-size: 14px;
  }
}

%span-bold {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: center;
}

%button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 21px;

  @include mobile {
    font-size: 16px;
  }
}

%main-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }

  @include mobile {
    font-size: 32px;
    line-height: 32px;
  }
}

%text-medium {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.5px;
  margin: 0;
}

%text-body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
}

%subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;

  @include mobile {
    font-size: 14px;
    line-height: 16px;
  }
}
