.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - $header-height - $footer-height);

  &__list {
    display: flex;
    align-items: center;
  }
}
